<div *ngIf="monster" class="container">
  <div class="central">
    <div class="image">
      <img
        draggable="false"
        [src]="assembleImagePath(monster.code)">
    </div>
    <div *ngIf="monster.weakspots" class="weakspots">
      <monster-weakspots-displayer
        [items]="items"
        [weakspots]="monster.weakspots">
      </monster-weakspots-displayer>
    </div>
  </div>
  <div *ngIf="monster.textes" class="textes">
    <monster-textes-displayer
      [hasIssueBeenCreated]="hasIssueBeenCreated"
      [reportedTypo]="reportedTypo"
      [textes]="monster.textes"
      (reportTextTypo)="onReportTextTypo($event)">
    </monster-textes-displayer>
  </div>
</div>