.container {
  display: flex;

  max-height: 100%;

  div {
    flex: 1;
  
    animation: fadeIn ease 0.5s;

    &.central {
      height: 55em;
      
      display: flex;
      flex-direction: column;
      align-items: center;

      .image {
        flex: 2;
      }

      .weakspots {
        flex: 1;
      }
    }

    &.textes {
      overflow-y: scroll;
    }
  }
}