.container {
  display: flex;

  div {
    flex: 1;

    &.central {
      height: 55em;
      
      display: flex;
      flex-direction: column;
      align-items: center;

      .image {
        flex: 2;
      }

      .weakspots {
        flex: 1;
      }
    }
  }
}