.image {
    display: flex;
    justify-content: center;
}

@media (min-width: 1460px) {
    .container {
        display: flex;

        max-height: 100%;

        div {
            flex: 1;

            animation: fadeIn ease 0.5s;

            &.central {
                height: 55em;

                display: flex;
                flex-direction: column;
                align-items: center;

                .weakspots {
                    flex: 1;
                }
            }

            &.textes {
                overflow-y: scroll;
            }
        }
    }
}

@media (max-width: 500px) {
    .container {
        display: flex;

        flex-direction: column;
        align-items: center;

        div {
            flex: 1;

            animation: fadeIn ease 0.5s;

            .image {
                img {
                    max-width: 20em;
                }
            }
        }
    }
}
