@media (min-width: 1460px) {
  .container {
    display: flex;
    
    max-height: 100%;
  
    .menu {
      flex: 1;
  
      overflow-y: scroll;
    }
    
    .viewer {
      flex: 2;
    }
  }

  .back {
    display: none;
  }

  .hidden-back {
    display: none;
  }

}

@media (max-width: 1460px) {
  .back {
    position: absolute;
    left: 0.5em;
    top: 0;

    font-size: 300%;
    color: #a09d9a;
  }

  .hidden, .hidden-back {
    display: none;
  }
}