<div class="container">
  <div
    [ngClass]="hasMonsterBeenClicked ? 'back' : ''"
    (click)="goBack()"
    >
    ⬅
  </div>
  <div
    *ngIf="categories"
    class="menu"
    [ngClass]="hasMonsterBeenClicked ? 'hidden' : ''">
    <monsters-menu
      [hasMonsterBeenClicked]="hasMonsterBeenClicked"
      [monsterCategories]="categories"
      (monsterHasBeenClicked)="setHasMonsterBeenClicked($event)">
    </monsters-menu>
  </div>
  <div class="viewer">
    <router-outlet></router-outlet>
  </div>
</div>