<div mousePosition class="container">
  <div class="title">
    <h1>{{ textes.name | uppercase }}</h1>
  </div>
  <div class="content">
    <ng-container *ngIf="textes.quote?.text">
      <div class="quote">
        <p
          #quoteText
          [innerHtml]="textes.quote.text"
          (click)="handleSelection($event)">
        </p>
        <p
          #author
          class="author"
          (click)="handleSelection($event)">
          —
          <ng-container *ngIf="textes.quote.author.firstname as firstname">
            {{ firstname | capitalize }}<ng-container *ngIf="!textes.quote.author.lastname">,</ng-container>
          </ng-container>
          <ng-container *ngIf="textes.quote.author.lastname as lastname">
            {{ lastname | capitalize }}<ng-container *ngIf="textes.quote.author.title">,</ng-container>
          </ng-container>
          {{ textes.quote.author.title }}
        </p>
      </div>
    </ng-container>
    <div class="description">
      <p
        #description
        [innerHtml]="textes.description"
        (click)="handleSelection($event)">
      </p>
    </div>
  </div>
  <ng-container *ngIf="!hasIssueBeenCreated">
    <div
      #typoTooltip
      class="typo-tooltip">
      <p>
        <a (click)="onReportTextTypo()">
          🚨
        </a>
      </p>
    </div>
  </ng-container>
</div>
