.container {
  height: 100vh;
  
  animation: fadeIn ease 0.5s;

  .content {
    height: 100%;

    background-color: #000;
    
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      margin-top: 1em;
      margin-right: 2em;
      margin-left: 2em;

      .lang {
        margin-right: 1.5em;
      }
    }

    .body {
      height: calc(100vh - 64px);

      box-sizing: border-box;
      
      padding: 2em;
    }
  }
}