.container {
    .items {
        display: flex;

        .item {
            margin: 0.5em;
            border: 3px double #2b2219;
            
            img {
              min-height: 72px;
              min-width: 72px;
              max-height: 72px;
              max-width: 72px;
            }
        }
    }
}