<div *ngIf="monsterCategories" class="container">
  <div class="searchbar">
    <input
      type="text"
      [placeholder]="searchPlaceholder + '...'">
  </div>
  
  <div
    class="category"
    *ngFor="let monsterCategory of monsterCategories">

    <div
      class="clickable-category"
      (click)="toggleCategory(monsterCategory.category.code)">
      <div class="category-title">
        <h1>{{ monsterCategory.category.name | uppercase }}</h1>
      </div>
    </div>

    <div
      class="content"
      *ngIf="isCategorySelected(monsterCategory.category.code)">
      <div
        class="monster"
        *ngFor="let monster of monsterCategory.monsters">

          <div
            class="clickable-monster"
            [routerLink]="monster.code"
            routerLinkActive="selected">
            
            <div class="thumbnail">
              <img
                draggable="false"
                [src]="assembleImagePath(monster.code)">
            </div>
            
            <div class="monster-title">
              <h2>{{ monster.textes.name | capitalize }}</h2>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>