<div class="container">
  <div
    class="category"
    *ngFor="let category of categories">

    <div
      class="clickable-category"
      (click)="toggleCategory(category.name)">
      <div class="category-title">
        <h1>{{ category.name | uppercase }}</h1>
      </div>
    </div>

    <div
      class="content"
      *ngIf="isCategorySelected(category.name)">
      <div
        class="monster"
        *ngFor="let monster of category.monsters">

          <div
            class="clickable-monster"
            [routerLink]="monster.code"
            routerLinkActive="selected">
            
            <div class="thumbnail">
              <img
                draggable="false"
                [src]="assembleImagePath(monster.code)">
            </div>
            
            <div class="monster-title">
              <h2>{{ monster.name | capitalize }}</h2>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>